@model Diploma.Dto.QuizDto
@{
    ViewData["Title"] = "Test";
}

<style>
    ul {
        list-style-type: none;
    }
</style>

<form asp-action="CreateTestResult" asp-controller="Home" method="post">
    <div class="text-start">
        <h1 class="display-4">Данные о вас</h1>
        <h3>
            Сколько вам лет?
        </h3>
        <input type="number" required="" min="1" max="99" id="age" name="age" />
    </div>

    <h1 class="display-4">Вопросы теста личности</h1>
    <ul>
        @for (var i = 0; i < Model.QuestionDto.Count; i++) {
            <h6>@Model.QuestionDto[i].QuestionText</h6>
            <li>
                <input type="hidden" asp-for="@Model.QuestionDto[i].Answers[0].AnswerTextResult" />
                <input asp-for="QuestionDto[i].Answers[0].IsSelected" />@Model.QuestionDto[i].Answers[0].AnswerText
                <br />
                <input type="hidden" asp-for="@Model.QuestionDto[i].Answers[1].AnswerTextResult" />
                <input asp-for="QuestionDto[i].Answers[1].IsSelected" />@Model.QuestionDto[i].Answers[1].AnswerText
            </li>
        }
    </ul>

    <div class="form-text">
        <button type="submit" value="CreateTestResult" class="btn btn-primary">Далее</button>
    </div>
</form>